*.html
test.json
.eslintrc.js
.prettierrc.js
package-lock.json
rollup.config.ts
tsconfig.json
config/*
src/*
.github/
.npmignore
.editorconfig
.bin/
.vscode/
.DS_Store
.npm-debug.log
.babelrc
dev.*
dev/*
LczCanvas/*